.App {
  text-align: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#GiphyLayout {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#outer {
  width: 100%;
  text-align: center;
}

#spinner {
  display: inline-block;
}
